doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    title RVS Perícias

    meta(name="description", content="RVS Perícias, cálculos contábeis para todas as fases do seu processo, cálculos de contingência, liquidação e execução")
    meta(name="keywords", content="cálculo trabalhista, petição inicial, cálculo de inicial, cálculos trabalhistas, liquidação de sentença, perícia contábil, pericia, rvs, rvs pericias")
    meta(name="robots", content="all")
    meta(name="language", content="pt-br")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    // css
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|Roboto+Condensed:400,300,700|Roboto+Slab:400,300,700,100|Titillium+Web:400,300,600,700,900' rel='stylesheet' type='text/css'>
    link(rel="stylesheet", href="public/css/main.css")