.modal-text#instrucao-1
  p Auxiliamos o departamento jurídico interno das Empresas na efetiva Gestão de Contingência, bem como na negociação de acordos em processos trabalhistas;

  p A elaboração mais precisa do passivo trabalhista é essencial para credibilidade e planejamento das grandes empresas.

  p Relacionam-se como passivos trabalhistas as obrigações já reconhecidas como devidas pela empresa e que, com certo grau de certeza, ainda se realizarão.

  p Atuamos na avaliação de contingências trabalhistas mediante a análise de riscos e probabilidade de perda por pedido, a partir da petição inicial e documentos carreados para defesa.

  p Nosso trabalho busca certificar que os valores estimados fiquem o mais próximo da  realidade, eis que através desta informação, e análise pedido a pedido, para todas as reclamações trabalhistas ativas na empresa, é possível fazer uma análise minuciosa de todo o contexto, planejando ações de redução deste passivo no futuro, revisando todos os cálculos judiciais trabalhistas dos processos de sua empresa.


.modal-text#instrucao-2
  p Nosso escritório oferece serviço para Reclamantes na elaboração de amostragens, e para Reclamadas na impugnação de diferenças apresentadas.

  p A apresentação de diferenças por amostragem é um procedimento determinado pelo MM Juízo, em audiência designada. O objeto da prova é fundamentar a pretensão e a defesa.

  p O ônus da prova incumbirá àquele que fizer alegações em juízo (art. 818 da CLT), a respeito da existência ou inexistência de determinado fato. Assim, ao autor compete a prova dos fatos constitutivos do seu direito (art. 333, I, do CPC), e à Empresa intimada a manifestar-se quanto às amostragens produzidas.


.modal-text#instrucao-3


.modal-text#liquidacao-1
  p A apresentação de cálculos ocorre quando a parte é intimada a apresentar seus cálculos de liquidação em 10 (dez) dias, de forma articulada (fundamentada em cálculos acompanhados de memórias), observando os critérios indicados na decisão de mérito transitada em julgado.


.modal-text#liquidacao-2
  p Após os cálculos de liquidação apresentados, o Juiz do Trabalho pode optar por abrir vista às partes por um prazo sucessivo de dez dias para manifestação sobre o cálculo, em que devem ser indicados itens e valores objeto da discordância, sob pena de preclusão (perda da oportunidade de impugnar o cálculo depois), conforme o art. 879, § 2º., da Consolidação das Leis do Trabalho.


.modal-text#liquidacao-3


.modal-text#execucao-1
  p O Reclamante pode apresentar um recurso chamado “impugnação à sentença de liquidação”
  p Já o recurso que pode ser interposto pelo Reclamado é chamado de “embargos à execução”.
  p Ditos recursos possuem por finalidade a anulação do processo de execução, por demonstrar, por exemplo, que o título não é certo, líquido ou exigível, ou que a coisa julgada foi formada sem o contraditório, bem como a lei que embasou a condenação foi declarada inconstitucional pelo STF.
  p Diversos são os argumentos que podem ser invocados no bojo dos embargos à execução / impugnação de sentença de liquidação, nos termos do art. 884, §1º da CLT e art.  475-L do CPC.
  p O Art. 884 da CLT prevê: Garantida a execução ou penhorados os bens, terá o executado 5 (cinco) dias para apresentar embargos, cabendo igual prazo ao Reclamante para impugnação.
  p Atuamos na análise e levantamento de matérias para embargos à execução, apresentando sugestões à parte Reclamada ou Impugnação à sentença de liquidação para o Reclamante.


.modal-text#execucao-2


.modal-text#execucao-3
  p O agravo de Petição está previsto no artigo 897, ‘a’, da CLT, sendo que sua utilização se presta para impugnação das decisões judiciais proferidas no curso do processo de execução.

  p <strong>Art. 897</strong> - Cabe agravo, no prazo de 8 (oito) dias: <br> <strong>a)</strong> de petição, das decisões do Juiz ou Presidente, nas execuções;

  p O art. 897, §1º, da CLT, estabelece um pressuposto específico de admissibilidade do Agravo de Petição, qual seja: a delimitação – justificada – das matérias e valores impugnados. Assim, as parcelas que não foram impugnadas mediante este recurso poderão de imediato ser executadas definitivamente, não havendo qualquer efeito suspensivo.