.modal-overlay.modal

  .modal-wrapper
    section.modal-panel.js-modal-services#modal-services
      i.modal-close.icon--close.js-modal-close
      .modal-body

        .title.title--secondary.title--divider
          i.title-icon.title-icon--small
          h1.title-text.title-small Cálculo de Inicial

        .modal-descriptions
          include ./modal-texts.jade

        .modal-cta
          button.btn.btn--primary.js-btn-budget SOLICITE UM ORÇAMENTO

    section.modal-panel.modal--disable.js-modal-budget
      i.modal-close.icon--close.js-modal-close
      .modal-body

        form.bugdget-form
          input(name="name", type="text", placeholder="Nome" required)
          input(name="_replyto", type="text", placeholder="Email" required)
          .form-group.form-tel
            input.input--slim(name="DDD", type="text", placeholder="DDD" required)
            input.flex--grow(name="telefone", type="text", placeholder="Telefone" required)
          textarea(name="message", cols="30", rows="8", placeholder="Descreva o serviço que você precisa e retornaremos em seguida \n\nCaso prefira, esse contato pode ser feito diretamente pelo email abaixo" required)
          .callout.callout--primary orcamento@rvspericias.com.br

          input(name="_subject", type="hidden", value="[RVS] Orçamento")
          input(name="_cc", type="hidden", value="todos@rvspericias.com.br")
          input(type="text", name="_gotcha", style="display:none")

          button.hidden.js-budget-submit(type="submit") Enviar

          .btn-steps.btn-steps--big.btn-steps--center.js-send-budget
            span.btn-step
              span Orçamento Enviado
              i.icon--check
            span.btn-step Enviar
            span.btn-step
              span Erro ao Enviar
              i.icon--close