- var nav = []
- nav.push({ name: "início", href: "#inicio" })
- nav.push({ name: "serviços", href: "#servicos" })
- nav.push({ name: "como funciona", href: "#como-funciona" })
- nav.push({ name: "quem somos", href: "#quem-somos" })
- nav.push({ name: "contato", href: "#contato" })

nav.main-nav.nav.nav--primary
  a(href="#").nav-brand
    include ../svg/logo-responsive.svg
    include ../svg/logo-white.svg

  .nav-items#nav
    each item in nav
      a(href=item.href).nav-item
        span.nav-label #{item.name}

    a(href="#").nav-item.nav-cta.js-btn-fast-budget
        span.nav-label.btn.btn--primary.btn--small orçamento

  span.nav-close.icon--close.js-nav-close

.header-mobile
  span.nav-open.icon--menu.js-nav-open
  a(href="#").header-mobile-brand
    include ../svg/logo-white.svg
