// jquery
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
<script>window.jQuery || document.write('<script src="public/js/vendor/jquery.min.js"><\/script>')</script>

// main
<script src="public/js/main.min.js"></script>

