// jquery
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
<script>window.jQuery || document.write('<script src="bower_components/jquery/dist/jquery.min.js"><\/script>')</script>

// wow
script(src="bower_components/wow/dist/wow.min.js")

// scroll spy
script(src="public/js/vendor/scrollspy.js")

// disable scroll
script(src="public/js/vendor/disable.scroll.min.js")

// main
script(src="public/js/main.js")

// live reload
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

