section.section.section-contact#contato

  .title.title--divider
    i.title-icon.icon--speech
    h1.title-text contato

  article.contact-info
    .title.title--row
      i.title-icon.title-icon--small.icon--phone
      h1.title-text
        a(href="tel:+555135577665") (51) 3557 7665

    .title.title--row
      i.title-icon.title-icon--small.icon--mail
      h1.title-text
        a(href="mailto:contato@rvs.com.br") contato@rvspericias.com.br

    .title.title--row
      i.title-icon.title-icon--small.icon--marker
      adress.flex--column
        h1.title-text Rua Guilherme Klippel, 67 - Passo D'Areia
        h3.title-text Porto Alegre - RS


  form.contact-form
    input(name="name", type="text", placeholder="Nome" required)
    input(name="_replyto", type="email", placeholder="Email" required)
    textarea(name="message", cols="30", rows="10", placeholder="Mensagem..." required)

    input(name="_subject", type="hidden", value="[RVS] Contato")
    input(name="_cc", type="hidden", value="todos@rvspericias.com.br")
    input(type="text", name="_gotcha", style="display:none")

    button.hidden.js-contact-submit(type="submit") Enviar

    .btn-steps.btn-steps--big.btn-steps--center.js-send-contact
      span.btn-step
        span Mensagem Enviada
        i.icon--check
      span.btn-step Enviar
      span.btn-step
        span Erro ao Enviar
        i.icon--close