section.section-cta
  .cta-title.title.title--primary
    h1.title-text.text--tertiary Por que nos escolher?
    h3.title-text.text--primary motivos que nos diferenciam

  .cta-content
    .cta-text
       p.text--tertiary Entendemos a importância dos prazos estabelecidos, portanto, prezamos por um serviço rápido, preciso e de qualidade.

       a.btn.btn--primary.text--uppercase.js-btn-fast-budget solicite um orçamento

    .cta-medias
      .title.title--secondary.a-scroll.flipInX
        .title-icon.icon--handshake.title-icon--small
        h3.title-text.text--tertiary Compromisso

      .title.title--secondary.a-scroll.flipInX
        .title-icon.icon--runer.title-icon--small
        h3.title-text.text--tertiary Agilidade

      .title.title--secondary.a-scroll.flipInX
        .title-icon.icon--target.title-icon--small
        h3.title-text.text--tertiary Precisão