section.main-footer

  nav.footer-nav
    h1.footer-title Nossos Serviços
    .wrapper.subnav
      .subnav-col
        h2.footer-title Fase de Instrução
        a.subnav-item.js-service-more(href="instrucao-1") Cálculo de Inicial
        a.subnav-item.js-service-more(href="instrucao-2") Produção e Defesa de Amostragens
        a.subnav-item.js-service-more(href="instrucao-3") Análise de Laudos Contábeis

      .subnav-col
        h2.footer-title Fase de Liquidação
        a.subnav-item.js-service-more(href="liquidacao-1") Apresentação de Cálculos de Liquidação de Sentença
        a.subnav-item.js-service-more(href="liquidacao-2") Impugnação de Cálculos de Liquidação de Sentença
        a.subnav-item.js-service-more(href="liquidacao-3") Contagem de Horas Extras
        h2.footer-title Fase de Execução
        a.subnav-item.js-service-more(href="execucao-1") Embargos à Exec. / Impugnação à Sentença de Liquidação
        a.subnav-item.js-service-more(href="execucao-2") Atualização de Valores
        a.subnav-item.js-service-more(href="execucao-3") Agravos de Petição

  .footer-brand
    .brand-wrapper
      include ../svg/logo-responsive.svg

  .footer-info
    adress
      ul
        li
          i.adress-icon.icon--marker
          span Rua Guilherme Klippel, 67 - Passo D'Areia <br> Porto Alegre - RS, 91350-160

        li
          i.adress-icon.icon--phone
          span (51) 3557 7665

        li
          i.adress-icon.icon--mail
          span contato@rvspericias.com.br

    .subnav.subnav-col
      a.subnav-item(href="#inicio") Início
      a.subnav-item(href="#servicos") Serviços
      a.subnav-item(href="#como-funciona") Como Funciona
      a.subnav-item(href="#quem-somos") Quem Somos
      a.subnav-item(href="#contato") Contato

