.main-hero.hero#inicio
  .hero-content

    .main-brand
      include ../svg/logo.svg

    h1.hidden RVS PERÍCIAS - Pericia Contabil

    h2.hero-content-text Escritório contábil especializado em cálculos periciais trabalhistas e cíveis, priorizamos o cumprimento dos prazos e a qualidade do nosso serviço.

    .hero-cta
      a(href="#servicos").btn-cover.btn-cover--primary.btn--big Conheça
      button.btn.btn--secondary.btn--big.js-btn-fast-budget Orçamento