section.section.section-how-work#como-funciona

  .title.title--secondary.title--divider
    .title-icon.icon--gear
    h1.title-text como funciona

  .how-work-steps
    .steps
      .step.step--primary.first.a-scroll.flipInX(data-wow-delay="0.3s")
        .title.title--secondary
          .title-icon.icon--mail-send
          h3.title-text.text--tertiary Solicitação
        p Envie sua solicitação pelo site ou pelo email <span class="text--primary">orcamento@rvspericias.com.br</span>

      .step.step--primary.a-scroll.flipInX(data-wow-delay="0.4s")
        .title.title--secondary
          .title-icon.icon--search-graph
          h3.title-text.text--tertiary Análise
        p Analisaremos o seu pedido para elaboração de um orçamento

      .step.step--primary.a-scroll.flipInX(data-wow-delay="0.5s")
        .title.title--secondary
          .title-icon.icon--checked-circle
          h3.title-text.text--tertiary Aprovação
        p Aguardaremos a aprovação do orçamento enviado

      .step.step--secondary.a-scroll.flipInX(data-wow-delay="0.6s")
        .title.title--primary
          .title-icon.icon--download
          h3.title-text.text--tertiary Recebimento
        p Enviaremos o serviço solicitado até a data acordada e aprovada anteriormente

      .step.step--primary.last.a-scroll.flipInX(data-wow-delay="0.7s")
        .title.title--secondary
          .title-icon.icon--credit-pay
          h3.title-text.text--tertiary Pagamento
        p O pagamento será realizado após o envio do serviço
