- var services1 = []
- services1.push({ class: "icon--shield-ok", name: "Cálculo de Inicial", ref: "instrucao-1" })
- services1.push({ class: "icon--edit", name: "Produção e Defesa de Amostragens", ref: "instrucao-2" })
- services1.push({ class: "icon--file-search", name: "Análise de Laudos Contábeis", ref: "instrucao-3" })

- var services2 = []
- services2.push({ class: "icon--file-graphs", name: "Apresentação de Cálculos de Liquidação de Sentença", ref: "liquidacao-1" })
- services2.push({ class: "icon--file-x", name: "Impugnação de Cálculos de Liquidação de Sentença", ref: "liquidacao-2" })
- services2.push({ class: "icon--stopwatch", name: "Contagem de Horas Extras", ref: "liquidacao-3" })

- var services3 = []
- services3.push({ class: "icon--file-stack", name: "EMBARGOS À EXEC. / IMPUGNAÇÃO À SENTENÇA DE LIQUIDAÇÃO", ref: "execucao-1" })
- services3.push({ class: "icon--refresh", name: "Atualização de Valores", ref: "execucao-2" })
- services3.push({ class: "icon--alert", name: "Agravos de Petição", ref: "execucao-3" })


section.section.section-services#servicos

  .title.title--divider
    .title-icon.icon--handshake-o
    h1.title-text serviços

  p.title-description Cálculos trabalhistas em todas as fases do seu processo, cálculos de contingência, fases de instrução, liquidação e sentença. Conte com profissionais experientes e receba tudo no prazo acordado.




  // fase 1
  h2.title-services.text--secondary Fase de Instrução
  .services-grid.services-phase-one
    each item in services1
      .card.a-scroll.fadeInUp
        .card-body
          .title.title--secondary.title--divider
            i(class="title-icon title-icon--small #{item.class}")
            h1.title-text.title-small #{item.name}

        .card-controls.card-controls--center
          a.js-service-more(href="#{item.ref}").btn-more.btn-o.btn-o--secondary.btn--circle
            span.btn-more-step.step--plus +
            span.btn-more-step Ver mais

    .services-indicator.a-scroll.fadeInUp I


  // fase 2
  h2.title-services.text--primary Fase de Liquidação
  .services-grid.services-grid--big.services-phase-two
    each item in services2
      .card.a-scroll.fadeInUp
        .card-body
          .title.title--tertiary.title--divider
            i(class="title-icon title-icon--small #{item.class}")
            h1.title-text.title-small #{item.name}

        .card-controls.card-controls--center
          a.js-service-more(href="#{item.ref}").btn-more.btn-o.btn-o--secondary.btn--circle
            span.btn-more-step.step--plus +
            span.btn-more-step Ver mais

    .services-indicator.a-scroll.fadeInUp II

  // fase 3
  h2.title-services.text--secondary Fase de Execução
  .services-grid.services-grid--big.services-phase-three
    each item in services3
      .card.a-scroll.fadeInUp
        .card-body
          .title.title--tertiary.title--divider
            i(class="title-icon title-icon--small #{item.class}")
            h1.title-text.title-small #{item.name}

        .card-controls.card-controls--center
          a.js-service-more(href="#{item.ref}").btn-more.btn-o.btn-o--secondary.btn--circle
            span.btn-more-step.step--plus +
            span.btn-more-step Ver mais

    .services-indicator.a-scroll.fadeInUp III