section.section.section-who#quem-somos

  article.section-who-content
    .title.title--divider
      i.title-icon.icon--executive
      h1.title-text quem somos

    p.title-description A RVS Perícias conta com uma equipe de profissionais experientes, oferecendo serviços na área da perícia e assessoria contábil. Nossa principal proposta é oferecer um seviço com um preço acessível e dentro do prazo acordado. Os trabalhos realizados contam com um processo maduro voltado para a entrega e precisão, supervisionados por uma equipe especializada na área.