/* ==========================================================================
   SITE WRAPPER
   ========================================================================== */
.main {
  display: flex;
  flex-direction: column;
}

/* CONTENT WRAPPER
   ========================================================================== */
.main-content {
  @include layout($page-grid);
}

/* GENERIC SECTION
   ========================================================================== */
.section {
  @include container;
  padding-top: $section-padding;
  padding-bottom: $section-padding;
}

/* GENERIC HERO SECTION
   ========================================================================== */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.hero-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-cta {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 3.5rem;

  *:not(:last-child) { margin-right: 1rem; }
}