/* ==========================================================================
   BASE
   ========================================================================== */
body {
  font-family: $font-family;
  font-size: 16px;
}

.text--small {
  font-size: .75rem;
}

.text--center {
  text-align: center;
}

.text--uppercase {
  text-transform: uppercase;
}

.text--block {
  display: block;
}

.text--primary {
  color: $primary;
}

.text--secondary {
  color: $secondary;
}

.text--tertiary {
  color: $tertiary;
}