/* ==========================================================================
   FORM ELEMENTS
   ========================================================================== */

/* HELPERS
   ========================================================================== */
@mixin reset-form-input {
  padding: 0;
  background-color: #fff;
  box-shadow: none;
  text-shadow: none;
  outline: 0;
  vertical-align: top;
}

%input {
  @include reset-form-input;

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  height: 50px;
  border: 1px solid #ccc;
  padding: .95rem;
  font-size: .95rem;
  transition: all ease .3s;

  &:hover {
    border: 1px solid #a5a5a5;
  }
  &:focus {
    border: 1px solid lighten( $primary, 20% );
  }
}

/* INPUTS & SELECTS & TEXTAREA
   ========================================================================== */
input[type=text],
input[type=number],
input[type=password],
input[type=email],
input[type=search],
select,
textarea {
  @extend %input;
}

textarea {
  resize: none;
  height: initial;
}

/* ==========================================================================
   FORM FLOW
   ========================================================================== */
 .form-group {
  display: flex;

  > *:not(:last-child) { margin-right: 1rem; }
}