/* ==========================================================================
   RESET
   ========================================================================== */

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  vertical-align: top;
  border: 0;
}

ul {
  list-style: none;
}

ul, li {
  margin: 0;
  padding: 0;
}