/* ==========================================================================
   TYPOGRAPH
   ========================================================================== */

 /**
  * Study Case:
  *
  *  http://webdesign.tutsplus.com/articles/taking-the-erm-out-of-ems--webdesign-12321
  *  http://webdesign.tutsplus.com/articles/taking-ems-even-further--webdesign-12543
  *  http://webdesign.tutsplus.com/articles/a-web-designers-typographic-boilerplate--webdesign-15234
  *
  */

/* PLACEHOLDERS
   ========================================================================== */
%base-typograph {
  font-family: $font-family;
  font-size:   $font-size;
  font-weight: $font-weight;
  line-height: $font-height;
  color:       $font-color;
}

/* STYLES
   ========================================================================== */
body {
  @extend %base-typograph;
}

h1 { font-size: 2.25rem;   }
h2 { font-size: 1.5rem;    }
h3 { font-size: 1.3125rem; }
h4 { font-size: 1.125rem;  }
h5 { font-size: 1rem;      }

strong  { font-weight: bold;  }
em      { font-style: italic; }

p {
  font-size: 0.9rem;
  line-height: $font-height;
  letter-spacing: 0.0625rem;
  margin: 0 0 1rem;
}

p + p {
  margin: 0;
}

code,
pre {
  font-family: monospace, serif;
  font-size: 1rem;
}