include ./partials/head_dev.jade

body.main

  // modal
  include ./partials/modal.jade

  // nav
  include ./partials/nav.jade

  // header
  include ./sections/hero.jade

  main.main-content
    // services
    include ./sections/services.jade

    // how works
    include ./sections/how-work.jade

    // who
    include ./sections/who.jade

    // cta
    include ./sections/cta.jade

    // contact
    include ./sections/contact.jade


  // footer
  include ./sections/footer.jade

  // scripts
  include ./partials/scripts_dev.jade