.section-contact {
  @include layout($page-grid);
  background-color: #f5f5f5;
  background: url("../img/contact-cover.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.contact-info {
  @include span(6);
  @include page-padding(l);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  .title h3 {
    padding: 0;
  }

  .title-text {
    display: flex;
  }

  a {
    text-decoration: none;
    font-size: 1.25rem;
    text-transform: initial;
    color: #222;
  }

  .title-icon {
    background: $golden;
    border-radius: 50%;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    margin-right: 1rem;

    &:before {
      font-size: 1.15rem;
      color: $white;
    }
  }

  adress {
    color: #222;
    h1 {
      font-size: 1.25rem;
      text-transform: initial;
    }
    h3 {
      font-size: 1rem;
      text-align: left;
    }
  }
}

.contact-form {
  @include span(6 last);
  @include page-padding(l);
  display: flex;
  flex-direction: column;

  > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}

/* ==========================================================================
   BREAKPOINTS
   ========================================================================== */
$b-contact-l:     1230px;
$b-contact-m:     1025px;
$b-contact-s:     940px;
$b-contact-xs:    765px;
$b-contact-phone: 725px;

@media (min-width: $b-contact-l + 1) {
  .contact-info {
    @include span(6);
  }
  .contact-form {
    @include span(6 last);
  }
}

@media (max-width: $b-contact-l) {
  .contact-info {
    @include span(5);
    padding-right: 0;
    padding-left: 3rem;

    adress h1 {
      font-size: 1rem;
    }
  }
  .contact-form {
    @include span(7 last);
    padding-left: 0;
  }
}

@media (max-width: $b-contact-m) {
  .contact-info {
    padding-left: 1rem;
  }
  .contact-form {
    padding-right: 1rem;
  }
}

@media (min-width: $b-contact-phone + 1) and (max-width: $b-contact-s) {
  .contact-info {
    @include span(12);
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: inline-block;

    .title {
      @include gallery(4 of 12);
      padding: 0 2rem;
      flex-direction: column;

      .title-icon {
        margin-bottom: .5rem;
      }

      a {
        font-size: 1.2rem;
      }
      adress {
        display: flex;
        align-items: center;
      }
    }
  }
  .contact-form {
    @include span(12);
    padding: 0 3rem 2rem;
  }
}

@media (max-width: $b-contact-xs) {
  .contact-info {
    margin-top: 2rem;

    adress {
      h1 {
        font-size: .9rem;
      }

      h3 {
        font-size: .75rem;
      }
    }
  }
}

@media (max-width: $b-contact-phone) {
  .contact-info {
    @include span(12);
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    padding: 0 .5rem 2rem;

    adress h1 {
      text-align: left;
    }
  }
  .contact-form {
    @include span(12);
    padding: 0 1rem 2rem;
  }
}