.section-cta {
  @include layout($page-grid);
  display: flex;
  min-height: 225px;
  background-color: $black;
}

.cta-title {
  align-items: flex-end;

  h1.title-text {
    font-family: $font-primary-serif;
    font-weight: 400;
  }
  h3.title-text {
  }
}

.cta-content {
  display: flex;
  align-items: center;
}

.cta-text {
  display: flex;
  flex-direction: column;

   p {
    font-family: $font-primary-condensed;
    font-weight: 300;
    font-size: .91rem;
    margin-bottom: 2rem;
  }
  .btn {
    align-self: center;
  }
}

/* ==========================================================================
   BREAKPOINTS
   ========================================================================== */
$b-cta-l: 1165px;
$b-cta-m:  820px;
$b-cta-s: 580px;

@media (min-width: $b-cta-l + 1) {
  .cta-title {
    @include span(5);
  }
  .cta-content {
    @include span(7);
  }
  .cta-text {
    @include span(7);
  }
  .cta-medias {
  @include span(5 last);

    > .title {
      @include gallery(4 of 12);
    }
  }
}

@media (max-width: $b-cta-l) {
  .section-cta {
    @include page-padding(m);
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
  }
  .cta-title {
    @include span(12);
    align-items: center;
  }
  .cta-content {
    @include span(12);
  }
  .cta-medias {
  @include span(5 last);

    > .title {
      @include gallery(4 of 12);
    }
  }
}

@media (max-width: $b-cta-m) {
  .cta-content {
    flex-wrap: wrap;
  }
  .cta-text {
    @include span(12);
    align-items: center;

    p {
      max-width: 500px;
    }
  }
  .cta-medias {
    @include span(12);
    order: -1;
    padding-left: 22.5%;
    padding-right: 22.5%;
  }
}

@media (max-width: $b-cta-s) {
  .cta-medias {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}