.main-footer {
  @include page-padding(l);
  padding-bottom: 3rem;
  padding-top: 2rem;
  background-color: $black;
}

.footer-nav {
  @include span(5);
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  h2 {
    color: lighten( $primary, 7.5% );
    font-size: .85rem;
    font-family: $font-secondary;
    font-weight: 300;
  }
  h2:not(:first-child) {
    margin-top: 1rem;
  }

  .wrapper {
    display: flex;
  }
}

.footer-title {
  color: $white;
  font-family: $font-secondary;
  text-transform: uppercase;
}

.footer-brand {
  @include span(2);
  @include center-flex;
  min-height: 220px;
  width: 120px;
  padding-top: 2rem;

  .svg-brand { fill: $primary; }
}

.brand-wrapper {
  width: 100%;
}

.footer-info {
  @include span(5 last);
  padding-left: 2rem;
  padding-top: 1rem;

  .subnav {
    max-width: 300px;
  }

  adress {
    color: $white;
    font-family: $font-primary-serif;
    font-size: .8rem;

    li {
      display: flex;
      &:not(last-child) { margin-bottom: 1rem; }
    }

    .adress-icon {
      margin-right: .5rem;
      color: $primary;
      &:before { font-size: .85rem; }
    }
  }
}

/* ==========================================================================
   BREAKPOINTS
   ========================================================================== */
$b-footer-l: 1200px;
$b-footer-m:  870px;
$b-footer-s: 800px;

@media (max-width: $b-footer-l) {
    .footer-nav {
      @include span(6);
    }

    .footer-brand {
      @include span(2 last);
    }

    .footer-info {
      @include span(4);
      padding-left: 0;
    }
}

@media (max-width: $b-footer-m) {
  .main-footer {
    @include page-padding(s);
  }
}

@media (max-width: $b-footer-s) {
  .footer-nav {
    display: none;
  }

  .footer-brand {
    @include span(12);
    padding-top: 0;
    min-height: initial;
  }

  .footer-info {
    @include span(12);
    display: flex;
    align-items: center;
    flex-direction: column;

    .subnav { min-width: 70%; }
  }

  .brand-wrapper {
    width: 25%;
  }
}