/* ==========================================================================
   HERO SECTION
   ========================================================================== */
.main-hero {
  font-family: $font-secondary;
  background-image: $hero-bg-url;
  background-position: $hero-bg-pos;
  background-repeat: $hero-bg-repeat;
  background-size: $hero-bg-size;
  background-attachment: $hero-bg-attachment;
  background-color: $hero-bg-color;
}

.main-brand {
  width: $brand-width;
  height: $brand-height;
  margin-bottom: 3rem;
}

.hero-content {
  @include page-padding(2rem);
  max-width: $hero-content-width;

  .hero-content-text {
    font-size: $hero-content-font-size;
    font-family: $font-secondary;
    font-weight: normal;
    color: $hero-content-color;
  }
}

/* ==========================================================================
   BREAKPOINTS
   ========================================================================== */
$b-hero-m: 760px;
$b-hero-s: 530px;

@media (max-width: $b-hero-m) {
  .hero-content p { font-size: 1.1rem; }
}

@media (max-width: $b-hero-s) {
  .main-brand {
    width: $brand-width * 0.8;
    height: $brand-height * 0.8;
  }
}