.section-how-work {
  @include page-padding(l);
  display: flex;
  background-color: $secondary;
  min-height: 250px;
  padding-top: 4rem;
  padding-bottom: 4rem;

  > .title {
    margin-right: 3rem;
    h1 { color: $tertiary }
  }

  .steps {
    .title--secondary {
      h3 { color: $secondary; }
    }

    .title--primary {
      .title-icon, h3 { color: $tertiary; }
    }

    .step.last {
      margin-right: .4rem;
    }
    .step.none {
      background-color: #222;
    }
  }

  // # fix icon size
  .icon--mail-send:before {
    font-size: 3.5rem !important;
  }
}

.how-work-steps {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

/* ==========================================================================
   BREAKPOINTS
   ========================================================================== */
$b-howwork-xl: 1230px;
$b-howwork-l:  920px;

// # TITLE ONE LINE
@media (max-width: $b-howwork-xl) {
  .section-how-work {
    flex-direction: column;

    > .title {
      margin-right: 0;
      margin-bottom: 4rem;
    }
  }
}

// # STEPS VERTICAL
@media (max-width: $b-howwork-l) {
  .steps {
    flex-direction: column;

    .step {
      padding: 2rem;
      margin-right: 0;
      margin-bottom: 26px;
      max-width: $step-max-width;
      min-width: $step-max-width;

      &:before,
      &:after {
        left: 0;
        border-width: $breadcrumb-arrow-width $step-max-width/2;
      }

      &:before {
        top: -$breadcrumb-arrow-width*2;
        border-top-color: transparent;
      }
      &:after {
        top: 100%;
      }
    }
  }

  .step--primary {
    &:after, &:before {
      border: 0 solid lighten( $tertiary, 2.5% );
    }
    &:before {
      border-top-color: transparent;
    }
    &:after {
      border-color: transparent;
      border-top-color: lighten( $tertiary, 2.5% );
    }
  }

  .step--secondary {
    &:after, &:before {
      border: 0 solid $primary;
    }
    &:before {
      border-top-color: transparent;
    }
    &:after {
      border-color: transparent;
      border-top-color: $primary;
    }
  }

  .step.first:before {
    border-width: 0;
  }

  .step.last {
    margin-bottom: 0;
    &:after {
      border-width: 0;
    }
  }
}