.main-nav {
  position: absolute;
  top: 0;
  width: 100%;

  .nav-brand {
    padding: .5rem;
    opacity: .25;

    .svg-brand { fill: #353535; }
    .svg-logo-white { display: none; }
  }

  .nav-close {
    display: none;
  }
}

.main-nav.nav--fixed {
  .nav-brand {
     opacity: 1;
     padding: 0;
     width: 80px;
     position: relative;

    .svg-logo-white {
      position: absolute;
      top: 0;
      display: initial;
    }
    .lettering { fill: #555; }
    .svg-brand { display: none; }
  }
}

.header-mobile {
  display: none;
}

/* ==========================================================================
   BREAKPOINTS
   ========================================================================== */
$b-nav-mobile: 860px;

@media (max-width: $b-nav-mobile) {
  .main-nav.nav.nav--primary {
    height: 100vh;
    width: 300px;
    padding: 0;
    left: -300px;
    position: fixed;
    background-color: $black;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 3px 0 3px rgba(0,0,0,.5);
    z-index: 999;
    transition: left ease-in-out .3s;

    .nav-close {
      @include center-flex;
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;
      position: absolute;
      cursor: pointer;
      opacity: .75;

      &:hover {
        opacity: 1;
      }

      &:before {
        color: $white;
        font-size: 1rem;
      }
    }

    .nav-brand {
      width: 60px;
      padding: 0;
      opacity: .25;
      margin-left: 125px;
      margin-top: 1rem;
      margin-bottom: 2rem;

      .svg-brand {
        display: initial;
        fill: #353535;
      }
      .svg-logo-white { display: none; }
    }

    .nav-items {
      flex-direction: column;
    }

    .nav-item {
      align-items: flex-start;
      padding: .5rem 0 .5rem 1rem;
      margin-right: 0 !important;
      border-bottom: 1px solid lighten( $black, 4% );

      .nav-label {
        font-size: 1rem;
        color: $white;
      }
    }

    .nav-item.active {
      box-shadow: inset -5px 0 0 $primary;

      .nav-label { color: $primary; }
    }

    .nav-cta {
      display: flex;
      padding: 2rem 1rem 1rem;
      border-bottom: 0;

      .nav-label {
        @include center-flex;
        width: 100%;
        height: 40px;
      }
    }
  }
  .nav.nav--fixed {
    animation: initial !important;
  }


  .header-mobile {
    position: absolute;
    display: initial;
    top: 0;
    height: 50px;
    width: 100%;
    z-index: 9;

    .nav-open {
      @include rectangle( 80px, 50px );
      @include center-flex;
      opacity: .75;
      cursor: pointer;

      &:before {
        font-size: 2rem;
        color: $white;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .header-mobile-brand {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    display: none;

    .lettering { fill: #555; }
  }

  .header-mobile.nav--fixed {
    animation: slide-down #{$nav-slide-delay} linear;
    position: fixed;
    background-color: $nav-fixed-bg;
    box-shadow: $nav-fixed-shadow;

    .nav-open:before {
      color: $black;
    }
    .header-mobile-brand {
      display: initial;
    }
  }
  .main-nav.nav--open {
    left: 0 !important;
    z-index: 99;
  }
}