.section-services {
  @include page-padding(m);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
}

.services-grid {
  @include container;
  margin-bottom: 50px;
  position: relative;
  width: 65%;

  .card {
    @include layout( $services-grid );
    background-color: #fff;
    min-height: 195px;
  }

  .card-body {
    @include center-flex;

    .title { margin-bottom: 0; }
  }
}

.services-grid--big {
  .card {
    min-height: 210px;
  }
}

.services-phase-one {
  .services-indicator {
    background-color: lighten( $black, 10% );
    box-shadow: $card-shadow, inset 0 -3px 0 lighten( $black, 8% );
    color: $white;
  }
}

.services-phase-two {
  .services-indicator {
    color: $white;
    background-color: $golden;
    box-shadow: $card-shadow, inset 0 -3px 0 darken( $golden, 2% );
  }
}

.services-phase-three {
  .services-indicator {
    color: $white;
    background-color: $black-light;
    box-shadow: $card-shadow, inset 0 -3px 0 darken( $black-light, 2% );
  }
}

.services-indicator {
  @include rectangle(75px);
  @include center-flex;
  position: absolute;
  left: -80px;
  top: 0;
  font-size: 2rem;
  font-weight: 900;
  font-family: $font-primary-serif;
}

.title-services {
  margin-top: 50px;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: $font-secondary;
}

/* ==========================================================================
   BREAKPOINTS
   ========================================================================== */
$b-services-xl: 1200px;
$b-services-l:  900px;
$b-services-m:  685px;
$b-services-s:  530px;

// # EXTRA LARGE (Notebooks & Desktops Screens)
@media (min-width: $b-services-xl + 1) {
  .services-grid {
    width: 55%;
    .card { @include gallery(4 of 12); }
  }
}

// # LARGE SCREENS
@media (min-width: $b-services-l + 1) and (max-width: $b-services-xl) {
  .services-grid {
    width: 85%;
    .card {
      min-height: 210px;
      @include gallery(4 of 12);
    }
  }
}

// # MEDIUM AND SMALL SCREENS
@media (max-width: $b-services-l) {
  .services-grid {
    width: 100%;

    .card {
      margin-bottom: .25rem;
      min-height: 180px;
    }

    .card-body {
      padding-left: .5rem;
      padding-right: .5rem;
      padding-top: .5rem;
    }

    .title h3 {
      font-size: .85rem;
    }

    .title-icon:before {
      font-size: 2.25rem;
    }

    .services-indicator {
      display: none;
    }
  }
}

// # MEDIUM SCREENS
@media (min-width: $b-services-m + 1) and (max-width: $b-services-l) {
  .services-grid {
    width: 100%;

    .card { @include gallery(4 of 12); }
  }
}

// # SMALL SCREENS
@media (min-width: $b-services-s + 1) and (max-width: $b-services-m) {

  .services-grid .card {
    @include gallery(2 of 6);
    min-height: 210px;
  }
}

// # PHONE SCREENS
@media (max-width: $b-services-s) {
  .services-grid {
    max-width: 215px;

    .card { @include span(12); }

    .card-body {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 1rem;
    }
  }
}