.section-who {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
  background: url("../img/who.jpg") no-repeat right center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #eee;

  .section-who-content {
    @include page-padding(m);
    box-shadow: $card-shadow;
    padding-top: 2rem;
    padding-bottom: 5rem;
    background-color: #fff;
  }
}

/* ==========================================================================
   BREAKPOINTS
   ========================================================================== */
$b-who-l: 1200px;
$b-who-m:  740px;
$b-who-s:  500px;
$b-who-ss: 360px;

@media (min-width: $b-who-l + 1) {
  .section-who-content {
    @include span(6 of 12);
    margin: 3.5rem 2.5rem;
  }
}

@media (max-width: $b-who-l) {
  .section-who-content {
    @include span(8 of 12);
    margin: 3.5rem 2rem;
  }
}

@media (max-width: $b-who-m) {
  .section-who-content {
    @include span(12);
    margin: 3.5rem 2rem;
  }
}

@media (max-width: $b-who-s) {
  .section-who-content {
    @include span(12);
    margin: 3.5rem .5rem;
  }
}

@media (max-width: $b-who-ss) {
  .cta-medias .title-text {
    font-size: .7rem;
  }
}

