/* ==========================================================================
   TYPOGRAPH
   ========================================================================== */
.text--center {
  text-align: center;
}


/* ==========================================================================
   FLEXBOX
   ========================================================================== */
.flex--column {
  display: flex;
  flex-direction: column;
}

.flex--row {
  display: flex;
  flex-direction: row;
}

.flex--grow {
  flex-grow: 1;
}

/* ==========================================================================
   FORM
   ========================================================================== */
.input--slim {
  max-width: 100px;
}

// OLD

.center-flex-v {
  //@include center-flex-v;
}

.flex-container {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.flex-content-end {
  justify-content: flex-end;
}

.hidden {
  display: none;
}

.a-flip {
  animation: flip-left .35s linear;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
}

@keyframes flip-left {
  0%   { transform: rotateY(180deg); }
  100% { transform: rotateY(0);      }
}