/* ==========================================================================
   VARIABLES
   ========================================================================== */


/* PAGE
   ========================================================================== */
$page-margin-s: 0.75rem;
$page-margin-m: 1.5rem;
$page-margin-l: 4rem;


/* COLORS
   ========================================================================== */
$golden:      #c99b2d;
$black-light: #333;
$black:       #030303;
$white:       #e7e7e7;
$grey:        #b9b9b9;
$dark-grey:   #424242;


// remove
$red: #ccc;

$primary:   $golden;
$secondary: $black;
$tertiary:  $white;


/* ==========================================================================
   BREAKPOINTS
   ========================================================================== */
$small:   max-width 620px;
$medium:  621px 920px;
$desktop: 921px;

/* TYPOGRAPH
   ========================================================================== */
$font-family: 'Roboto', sans-serif;
$font-size:   16px;
$font-height: 1.5;
$font-weight: normal;
$font-color:  #444;

$font-primary:           'Roboto', sans-serif;
$font-primary-condensed: 'Roboto', sans-serif;
$font-primary-serif:     'Roboto Slab', serif;
$font-secondary:         'Titillium Web', sans-serif;


/* BREAKPOINTS
   ========================================================================== */
$breakpoint-s: max-width 620px;
$breakpoint-m: 621px 920px;
$breakpoint-l: 921px;


/* Z-INDEX
   ========================================================================== */
$zindex-base: 9;
$zindex-nav:  99;
$zindex-modal: 999;

/* TRANSITIONS
   ========================================================================== */
$t-bounce: cubic-bezier(0.310, -0.105, 0.430, 1.400);


/* ==========================================================================
   COMPONENTS
   ========================================================================== */

/* NAV
   ========================================================================== */
$nav-bg:             rgba(0,0,0,.75);
$nav-height:         60px;
$nav-label-gutter:   1rem;
$nav-label-font:     $font-secondary;
$nav-label-size:     .9rem;
$nav-label-weight:    500;
$nav-label-color:     rgba(255,255,255,.65);
$nav-label-transform: uppercase;
$nav-slide-delay:     .3s;

/* NAV FIXED
   ========================================================================== */
$nav-fixed-bg:          #fff;
$nav-fixed-shadow:      3px 0 4px rgba(0,0,0,.25);
$nav-fixed-height:      50px;
$nav-fixed-gutter:      1rem;
$nav-fixed-label-color: rgba(0,0,0,.95);

/* TITLE
   ========================================================================== */
$title-max-width:          650px;
$title-margin:             2rem;
$title-text-font:          $font-secondary;
$title-text-gutter:        .25rem;
$title-text-transform:     uppercase;
$title-text-size:          2rem;  // leave to typo
$title-subtext-size:       .9rem; // leave to typo
$title-subtext-transform:  uppercase;
$title-subtext-gutter:     .5rem 0 .5rem;
$title-icon-wrapper:       80px;
$title-icon-size:          4rem;
$title-icon-color:         $grey;
$title-icon-small-wrapper: 45px;
$title-icon-small-size:    2.5rem;
$title-divider-height:     3px;
$title-divider-width:      50px;

$title-primary-icon-color:      $grey;
$title-primary-divider-color:   $primary;
$title-secondary-icon-color:    $primary;
$title-secondary-divider-color: $grey;
$title-tertiary-icon-color:     $dark-grey;
$title-tertiary-divider-color:  $primary;

/* ICON
   ========================================================================== */
$icon-font-base-folder: "../font/";
$icon-font-filename:    "icon";
$icon-font-family:      "Icon";
$icon-base-size:         1rem;

/* CARD
   ========================================================================== */
$card-transition-delay: .35s;
$card-transition:       box-shadow ease-out #{$card-transition-delay};
$card-padding-top:      1.25rem;
$card-font-size:        1rem;
$card-font-weight:      300;
$card-controls-margin:  1rem 0;
$card-shadow:           2px 2px 1px rgba(0, 0, 0, 0.15),
                         -2px 0 1px rgba(0, 0, 0, 0.05);
$card-hover-shadow:     0 10px 12px rgba(0,0,0,.12),
                        0  6px  6px rgba(0,0,0,.2);

/* BUTTON
   ========================================================================== */
$btn-font: $font-secondary;

/* ==========================================================================
   LAYOUT
   ========================================================================== */
$page-grid: (
  columns: 12,
  gutters: 1,
  math: fluid,
);

$services-grid: (
  columns: 12,
  gutters: 0,
  math: fluid,
);

/* HERO SECTION
   ========================================================================== */
$hero-bg-url:            url("../img/hero-cover.jpg");
$hero-bg-repeat:         no-repeat;
$hero-bg-pos:            center;
$hero-bg-size:           cover;
$hero-bg-attachment:     fixed;
$hero-bg-color:          #010101;
$hero-content-width:     650px;
$hero-content-font-size: 1.3rem;
$hero-content-color:     $white;

// # main brand
$brand-width:  258px;
$brand-height: 196px;

/* GENERIC SECTION
   ========================================================================== */
$section-padding: 2rem;



$b-nav-mobile: 860px;


$step-max-width: 250px;