/* ==========================================================================
   CONSTRUCTOR
   ========================================================================== */

%btn-base {
  font-family: $btn-font;
  font-weight: 300;
  font-size: .85rem;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .5rem .85rem;
  background-color: #eee;
  color: #333;
  text-decoration: none;
  text-shadow: none;
  border-radius: 0;
  outline: 0;
  cursor: pointer;
  transition: all ease .35s;
}

/* ==========================================================================
   BUTTONS
   ========================================================================== */
.btn {
  @extend %btn-base;

  &:focus,
  &:active {
    box-shadow: inset 0 1px 3px 2px rgba(0,0,0,.065);
  }
}

.btn-o {
  @extend %btn-base;
  background-color: transparent;
  border: 1px solid transparent;
}

.btn-cover {
  @extend %btn-base;
  background-color: transparent;
  border: 1px solid transparent;
}

/* ==========================================================================
   THEMES
   ========================================================================== */
.btn.btn--primary {
  background-color: $primary;
  border: 1px solid darken( $primary, 2.5% );
  color: #fff !important;

  &:hover {
    background-color: darken( $primary, 5% );
    border: 1px solid darken( $primary, 5% );
  }
}

.btn.btn--secondary {
  background-color: $secondary;
  border: 1px solid darken( $secondary, 2.5% );
  color: #fff !important;

  &:hover {
    background-color: lighten( $secondary, 2.5% );
    border: 1px solid lighten( $secondary, 2.5% );
  }
}

.btn-o.btn-o--primary {
  border-color: $white;
  color: $white;

  &:hover {
    border-color: darken( $white, 20% );
    color: darken( $white, 20% );
  }
}

.btn-o.btn-o--secondary {
  border-color: $primary;
  color: $primary;
}

.btn-cover.btn-cover--primary {
  border-color: $primary;
  color: $primary;

  &:hover {
    background-color: darken( $primary, 5% );
    border: 1px solid darken( $primary, 5% );
    color: $white;
  }
}





.btn.btn--small,
.btn-o.btn--small,
.btn-cover.btn--small {
  padding: .25rem .5rem;
  font-size: .75rem;
}

.btn.btn--big,
.btn-o.btn--big,
.btn-cover.btn--big {
  padding: 1rem 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
}

.btn.btn--rounded,
.btn-o.btn--rounded,
.btn-cover.btn--rounded {
  border-radius: 1000px;
}

.btn.btn--circle,
.btn-o.btn--circle,
.btn-cover.btn--circle {
  border-radius: 1000px;
  padding: .8rem;
}

/* ==========================================================================
   BTN STEPS
   ========================================================================== */
$btn-step-height: 2.549rem;
$btn-step-padding: 0 1.25rem;
$btn-step-transition: all .2s cubic-bezier(0.310, -0.105, 0.430, 1.400);
$btn-step-big-height: 52px;

%btn-steps-base {
  font-size: 1rem;
  outline: 0;
  cursor: pointer;
  background-color: $secondary;
  border: 1px solid darken( $secondary, 2.5% );
  color: #fff !important;
}

// base
.btn-steps {
  @extend %btn-steps-base;
  position: relative;
  display: flex;
  flex-direction: column;
  height: $btn-step-height;
  overflow: hidden;
}

.btn-steps--big {
  height: $btn-step-big-height;

  .btn-step {
    min-height: $btn-step-big-height;
    text-transform: uppercase;
  }
}

.btn-step {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: $btn-step-height;
  min-width: 100%;
  padding: $btn-step-padding;
  text-decoration: none;
  transition: $btn-step-transition;
  background-color: transparent;
  border: none;
  color: #fff;
  outline: 0;

  [class*="icon--"] {
    margin-left: 10px;
    &:before { font-size: .75rem; }
  }
}

// btn is-state
%btn-steps-active {
  transform: translateY(-100%);
}

.btn-steps.is-hoverable:hover .btn-step,
.btn-steps.is-active .btn-step {
  @extend %btn-steps-active;
}

.btn-steps--top.is-hoverable {
  &:hover .btn-step { transform: translateY(0); }
}

.btn-steps--top.is-active .btn-step {
  transform: translateY(0);
}

.btn-steps--center.is-success .btn-step {
  transform: translateY(0);
}
.btn-steps--center.is-error .btn-step {
  transform: translateY(-200%);
}

// btn--modifiers
.btn-steps--top .btn-step,
.btn-steps--center .btn-step {
  @extend %btn-steps-active;
}

// animation
.a-icon--spin {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg);  }
}

/* BTN MORE
   ========================================================================== */
.btn-more {
  position: relative;
  text-decoration: none;
  transition: all cubic-bezier(0.310, -0.105, 0.430, 1.400) .2s;

  &:hover {
    padding-left: 3rem;
    padding-right: 3rem;

    .btn-more-step:first-child {
      opacity: 0;
    }
    .btn-more-step:nth-child(n+2) {
      opacity: 1;
    }
  }
}

.btn-more-step {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 1.25rem;
  transition: all linear .25s;

  &:nth-child(n+2) {
    opacity: 0;
    font-size: .85rem;
    white-space: nowrap;
  }
}

.step--plus {
  font-size: .95rem;
  height: 100%;
  line-height: 21px;
}