/* ==========================================================================
   CARD
   ========================================================================== */
.card {
  display: flex;
  flex-direction: column;
  transition: $card-transition;
  box-shadow: $card-shadow;

  &:hover {
    box-shadow: $card-hover-shadow;
  }
}

.card-body {
  @include page-padding(m);
  padding-top: $card-padding-top;
  font-size: $card-font-size;
  font-weight: 300;
  flex: 1;
}

.card-controls {
  display: flex;
  margin: $card-controls-margin;
}

/* ==========================================================================
   MODIFIERS
   ========================================================================== */
.card-controls--center {
  justify-content: center;
  align-items: center;
}