
/* ==========================================================================
   FONT CONFIG
   ========================================================================== */
@font-face {
	font-family: $icon-font-family;
	src: url("#{$icon-font-base-folder}" + "#{$icon-font-filename}.eot");
	src: url("#{$icon-font-base-folder}" + "#{$icon-font-filename}.eot#iefix") format("embedded-opentype"),
			 url("#{$icon-font-base-folder}" + "#{$icon-font-filename}.woff") format("woff"),
			 url("#{$icon-font-base-folder}" + "#{$icon-font-filename}.ttf") format("truetype"),
			 url("#{$icon-font-base-folder}" + "#{$icon-font-filename}.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* ==========================================================================
   ICON BASE CLASS
   ========================================================================== */
[class^="icon--"],
[class*=" icon--"],
[class^="icon--"],
[class*=" icon--"] {
	@include center-flex;
}

[class^="icon--"]:before,
[class*=" icon--"]:before,
[class^="icon--"]:after,
[class*=" icon--"]:after {
	font-family: $icon-font-family;
  font-size: $icon-base-size;
	font-style: normal;
}

/* ==========================================================================
   ICON CLASS NAMES
   ========================================================================== */

// SECTION TITLES - OUTLINE ICONS
.icon--home:before {
	content: "\e03c";
}
.icon--handshake-o:before {
	content: "\e03b";
}
.icon--gear:before {
	content: "\e018";
}
.icon--executive:before {
	content: "\e038";
}
.icon--speech:before {
	content: "\e068";
}
.icon--phone:before {
	content: "\e070";
}
.icon--mail:before {
	content: "\e042";
}
.icon--marker:before {
	content: "\e058";
}
.icon--plane:before {
	content: "\e059";
}
.icon--mail-send:before {
	content: "\e04e";
}
.icon--file-search:before {
	content: "\e062";
}
.icon--file-checked:before {
	content: "\e000";
}
.icon--download:before {
	content: "\e029";
}
.icon--credit-pay:before {
	content: "\e019";
}
.icon--checked-circle:before {
	content: "\e011";
}
.icon--check:before {
	content: "\e00f";
}
.icon--shield-ok:before {
	content: "\e063";
}
.icon--edit:before {
	content: "\e02b";
}
.icon--file-search-o:before {
	content: "\e031";
}
.icon--calculator:before {
	content: "\e009";
}
.icon--alert:before {
	content: "\e00b";
}
.icon--stopwatch:before {
	content: "\e06d";
}
.icon--file-stack:before {
	content: "\e027";
}
.icon--file-x:before {
	content: "\e071";
}
.icon--file-graphs:before {
	content: "\e02f";
}
.icon--refresh:before {
	content: "\e05e";
}
.icon--search-graph:before {
	content: "\e06c";
}
.icon--close:before {
	content: "\e01c";
}
.icon--target:before {
	content: "\e06e";
}
.icon--handshake:before {
	content: "\e002";
}
.icon--runer:before {
	content: "\e060";
}
.icon--menu:before {
	content: "\e04d";
}
.icon--check:before {
	content: "\e072";
}



.icon--add186:before {
	content: "\e001";
}
.icon--architecture11:before {
	content: "\e003";
}
.icon--arrows130:before {
	content: "\e004";
}
.icon--ascendant12:before {
	content: "\e005";
}
.icon--bar26:before {
	content: "\e006";
}
.icon--bars42:before {
	content: "\e007";
}
.icon--business8:before {
	content: "\e008";
}
.icon--calculators1:before {
	content: "\e00a";
}
.icon--cellphone57:before {
	content: "\e00c";
}
.icon--chart42:before {
	content: "\e00d";
}
.icon--chat156:before {
	content: "\e00e";
}
.icon--check67:before {
	content: "\e010";
}
.icon--circle54:before {
	content: "\e012";
}
.icon--clipboard65:before {
	content: "\e013";
}
.icon--clock104:before {
	content: "\e014";
}
.icon--clock130:before {
	content: "\e015";
}
.icon--clock154:before {
	content: "\e016";
}
.icon--close47:before {
	content: "\e017";
}
.icon--credit2:before {
	content: "\e01a";
}
.icon--cross31:before {
	content: "\e01b";
}
.icon--data-analytics:before {
	content: "\e01d";
}
.icon--datastorage48:before {
	content: "\e01e";
}
.icon--deliverytruck5:before {
	content: "\e01f";
}
.icon--descending9:before {
	content: "\e020";
}
.icon--diploma2:before {
	content: "\e021";
}
.icon--diploma24:before {
	content: "\e022";
}
.icon--direction196:before {
	content: "\e023";
}
.icon--document112:before {
	content: "\e024";
}
.icon--document98:before {
	content: "\e025";
}
.icon--documents38:before {
	content: "\e026";
}
.icon--dollar185:before {
	content: "\e028";
}
.icon--downloading26:before {
	content: "\e02a";
}
.icon--exclamation5:before {
	content: "\e02c";
}
.icon--facebook31:before {
	content: "\e02d";
}
.icon--file10:before {
	content: "\e02e";
}
.icon--file186:before {
	content: "\e030";
}
.icon--finances1:before {
	content: "\e032";
}
.icon--folder230:before {
	content: "\e033";
}
.icon--folder3:before {
	content: "\e034";
}
.icon--folder47:before {
	content: "\e035";
}
.icon--friends1:before {
	content: "\e036";
}
.icon--garbage30:before {
	content: "\e037";
}
.icon--graph18:before {
	content: "\e039";
}
.icon--graph21:before {
	content: "\e03a";
}
.icon--inbox50:before {
	content: "\e03d";
}
.icon--internet71:before {
	content: "\e03e";
}
.icon--justice4:before {
	content: "\e03f";
}
.icon--keyboard53:before {
	content: "\e040";
}
.icon--leftarrow23:before {
	content: "\e041";
}
.icon--linegraphic8:before {
	content: "\e043";
}
.icon--linegraphic9:before {
	content: "\e044";
}
.icon--link21:before {
	content: "\e045";
}
.icon--load9:before {
	content: "\e046";
}
.icon--losses:before {
	content: "\e047";
}
.icon--magnifying-glass34:before {
	content: "\e048";
}
.icon--magnifying47:before {
	content: "\e049";
}
.icon--mail89:before {
	content: "\e04a";
}
.icon--menu45:before {
	content: "\e04b";
}
.icon--menu53:before {
	content: "\e04c";
}
.icon--microsoft-excel:before {
	content: "\e04f";
}
.icon--money146:before {
	content: "\e050";
}
.icon--money57:before {
	content: "\e051";
}
.icon--notebook88:before {
	content: "\e052";
}
.icon--notepad19:before {
	content: "\e053";
}
.icon--pdf17:before {
	content: "\e054";
}
.icon--pdf18:before {
	content: "\e055";
}
.icon--pdf25:before {
	content: "\e056";
}
.icon--pen29:before {
	content: "\e057";
}
.icon--plus79:before {
	content: "\e05a";
}
.icon--recognition6:before {
	content: "\e05b";
}
.icon--rectangular4:before {
	content: "\e05c";
}
.icon--refresh51:before {
	content: "\e05d";
}
.icon--report1:before {
	content: "\e05f";
}
.icon--search102:before {
	content: "\e061";
}
.icon--shield20:before {
	content: "\e064";
}
.icon--silhouette107:before {
	content: "\e065";
}
.icon--socialmedia10:before {
	content: "\e066";
}
.icon--sort12:before {
	content: "\e067";
}
.icon--spreadsheet1:before {
	content: "\e069";
}
.icon--spreadsheet4:before {
	content: "\e06a";
}
.icon--spreadsheet5:before {
	content: "\e06b";
}
.icon--target88:before {
	content: "\e06f";
}
.icon--tick7:before {
	content: "\e073";
}
.icon--tool1417:before {
	content: "\e074";
}
.icon--tool9:before {
	content: "\e075";
}
.icon--update3:before {
	content: "\e076";
}
.icon--uploading23:before {
	content: "\e077";
}
.icon--uploading34:before {
	content: "\e078";
}
.icon--wall24:before {
	content: "\e079";
}
.icon--weapon81:before {
	content: "\e07a";
}
.icon--weapon82:before {
	content: "\e07b";
}
.icon--xls2:before {
	content: "\e07c";
}
.icon--xls4:before {
	content: "\e07d";
}
.icon--xlsx1:before {
	content: "\e07e";
}
