body {
  position: relative;
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

.modal-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.9);
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: all linear .3s;
}

.modal.active {
  opacity: 1;
  visibility: visible;
}

.modal-wrapper {
  @include center-flex;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
}

.modal-panel {
  position: relative;
  max-height: 90vh;
  min-width: 300px;
  max-width: 650px;
  background-color: #fff;
  padding: 2rem;
  overflow-y: auto;

  p {
    margin-bottom: 1rem;
  }
}

.modal-cta {
  display: flex;
  margin-top: 2rem;
  justify-content: flex-end;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 9;
  opacity: .6;
  transition: opacity linear .3s;

  &:before {
    font-size: .75rem;
  }

  &:hover {
    opacity: .9;
  }
}

.modal--disable {
  display: none;
}

.modal-text {
  display: none;
}

.bugdget-form {
  display: flex;
  flex-direction: column;
  min-width: 475px;

  > *:not(:last-child) { margin-bottom: 1rem; }
}

.form-tel {
  input:first-child {
    width: 65px;
  }
  input:last-child {
    width: 50%;
  }
}

/* ==========================================================================
   BREAKPOINTS
   ========================================================================== */
$b-modal-s: 600px;

@media (max-width: $b-modal-s) {
  .modal-panel {
    max-width: 92.5vw;
    min-width: 92.5vw;

    form {
      width: 100%;
      min-width: initial;
    }
  }
}