/* ==========================================================================
   NAV
   ========================================================================== */
.nav {
  @include page-padding(m);
  display: flex;
  justify-content: space-between;
}

.nav-brand {
  @include rectangle($nav-height);
}

.nav-items {
  display: flex;
}

.nav-item {
  @include center-flex;
  flex-direction: column;
  text-decoration: none;
  padding: 0 1rem;

  &:not(:last-child) {
    margin-right: $nav-label-gutter;
  }
}

.nav-cta {
  display: none;
}

/* ==========================================================================
   NAV FIXED
   ========================================================================== */
.nav.nav--fixed {
  position: fixed;
  height: $nav-fixed-height;
  background-color: $nav-fixed-bg;
  box-shadow: $nav-fixed-shadow;
  z-index: $zindex-nav;
  animation: slide-down #{$nav-slide-delay} linear;

  .nav-item {
    min-width: initial;
    &:not(:last-child) { margin-right: $nav-fixed-gutter; }
  }

  .nav-brand {
    @include rectangle($nav-fixed-height);
  }

  .nav-cta { display: flex; }
}

/* ==========================================================================
   THEME
   ========================================================================== */
.nav--primary {
  height: $nav-height;
  background-color: $nav-bg;

  .nav-label {
    font-family: $nav-label-font;
    font-size: $nav-label-size;
    font-weight: $nav-label-weight;
    text-transform: $nav-label-transform;
    color: $nav-label-color;
  }
}

.nav--primary:not(.nav--fixed) {
  .nav-label {
    transition: color linear .3s;

    &:hover { color: #fff; }
  }
}

.nav--primary.nav--fixed {
  .nav-label {
    color: $nav-fixed-label-color;
  }
}

.nav--primary.nav--fixed {
  .nav-item.active {
    @extend %nav-item-active
  }
}

/* ==========================================================================
   STATE
   ========================================================================== */
%nav-item-active {
  box-shadow: inset 0 -3px 0 $primary;
  .nav-label { color: $primary; }
}