.steps {
  display: flex;
}

$breadcrumb-height: 212px;
$breadcrumb-arrow-width: 10px;

.step {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 1rem 2rem 2rem;
  padding-left: 1rem;
  margin-right: 26px;
  background-color: #fff;
  height: $breadcrumb-height;
  max-width: 250px;
  min-width: 150px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    border: 0 solid #fff;
    border-width: $breadcrumb-height/2 $breadcrumb-arrow-width;
    width: 0;
    height: 0;
  }

  &:before {
    left: -$breadcrumb-arrow-width*2;
    border-left-color: transparent;
  }
  &:after {
    left: 100%;
    border-color: transparent;
    border-left-color: #fff;
  }

  .title {
    margin-bottom: 1rem;

    .title-icon {
      width: 45px;
      height: 45px;

      &:before { font-size: $title-icon-small-size; }
    }
  }

  p {
    font-size: .785rem;
    font-family: $font-secondary;
    color: #222;
    text-align: center;
  }
}

/* ==========================================================================
   HELPERS
   ========================================================================== */

.step.first {
  padding-left: 2rem;

  &:before {
    border-width: 0;
  }
}

.step.last {
  margin-right: 0;
  &:after {
    border-width: 0;
  }
}

.step.none {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  margin-right: 0;
  &:after,
  &:before {
    border-width: 0;
  }
}

/* ==========================================================================
   THEMES
   ========================================================================== */

.step--primary {
  background-color: lighten( $tertiary, 2.5% );

  &:after, &:before {
    border: 0 solid lighten( $tertiary, 2.5% );
    border-width: $breadcrumb-height/2 $breadcrumb-arrow-width;
  }
  &:after {
    border-color: transparent;
    border-left-color: lighten( $tertiary, 2.5% );
  }
  &:before {
    border-left-color: transparent;
  }
}

.step--secondary {
  background-color: $primary;

  &:after, &:before {
    border: 0 solid $primary;
    border-width: $breadcrumb-height/2 $breadcrumb-arrow-width;
  }
  &:after {
    border-color: transparent;
    border-left-color: $primary;
  }
  &:before {
    border-left-color: transparent;
  }

  p {
    color: $white;
  }
}