.subnav-item {
  font-size: .8rem;
  text-decoration: none;
  color: darken( $white, 35% );
  font-family: $font-primary-serif;
  margin: .25rem;
  padding: .15rem 0;
  border-bottom: 1px dotted darken( $white, 80% );

  &:hover {
    color: $white;
  }
}

.subnav-col {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-right: 1rem;
  }
}