/* ==========================================================================
   TITLE
   ========================================================================== */
.title {
  @include center-flex;
  flex-direction: column;
  position: relative;
  margin-bottom: $title-margin;

  .title-text {
    font-family: $title-text-font;
  }

  h1 {
    font-size: $title-text-size;
    padding-bottom: $title-text-gutter;
    text-transform: $title-text-transform;
    text-align: center;
  }

  h3,
  .title-small {
    font-size: $title-subtext-size;
    padding: $title-subtext-gutter;
    text-transform: $title-subtext-transform;
    text-align: center;
  }
}

.title-icon {
  @include rectangle($title-icon-wrapper);
  color: $title-icon-color;
}
.title .title-icon:before { font-size: $title-icon-size; }

.title-description {
  max-width: $title-max-width;
}

/* ==========================================================================
   MODIFIERS
   ========================================================================== */
.title--divider:after {
  @include center-h-absolute;
  background-color: $primary;
  width: $title-divider-width;
  height: $title-divider-height;
  content: "";
  bottom: 0;
}

.title--row {
  flex-direction: row;
}

.title-icon--small {
  @include rectangle($title-icon-small-wrapper);
}
.title .title-icon--small:before { font-size: $title-icon-small-size; }

/* ==========================================================================
   THEMES
   ========================================================================== */
.title.title--primary {
  .title-icon {
    color: $title-primary-icon-color;
  }
}
.title--divider.title--primary:after {
  background-color: $title-primary-divider-color;
}

.title.title--secondary {
  .title-icon {
    color: $title-secondary-icon-color;
  }
}
.title--divider.title--primary:after {
  background-color: $title-secondary-divider-color;
}

.title.title--tertiary {
  .title-icon {
    color: $title-tertiary-icon-color;
  }
}
.title--divider.title--tertiary:after {
  background-color: $title-tertiary-divider-color;
}
